<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.honoka.android.xposed.qingxin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qingxin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/qingxin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".activity.AddRuleActivity" />
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".provider.QingxinProvider"
            android:authorities="de.honoka.android.xposed.qingxin.provider.QingxinProvider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.honoka.android.xposed.qingxin.provider.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="bilibili内容屏蔽模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>